<section class="section">
    <h1 class="title">
        購物車
        <%= link_to cart_path, class: 'is-size-5 has-text-grey', method: :delete, data: {confirm: '確定清空購物車？'} do %>
        <!-- cart GET      /cart(.:format)                       carts#show
                  DELETE   /cart(.:format)                       carts#destroy -->
        <i class="fa-solid fa-trash"></i>
        <span>清空購物車</span>
        <% end %>
    </h1>
    <%= render 'cart' %>
</section>
